name: CI
on: [push, pull_request]
jobs:
  lint-source-code:
    name: Lint Source Code
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6

      - name: Dependencies
        run: |
          sudo apt clean
          sudo apt update
          sudo apt install xorg-dev libgtk-3-dev

      - name: Setup Golang
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
          cache: false

      - name: Lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: v2.1.5

  build:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        include:
          - os: ubuntu-latest
            rust-target: 1.82-x86_64-unknown-linux-gnu
          - os: windows-latest
            rust-target: 1.82-x86_64-pc-windows-gnu
          - os: macos-latest
            rust-target: 1.82-x86_64-apple-darwin
    runs-on: ${{ matrix.os }}
    name: Build - ${{ matrix.os }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6

      - if: contains(matrix.os, 'ubuntu')
        name: Dependencies (Linux)
        run: |
          sudo apt clean
          sudo apt update
          sudo apt install xorg-dev libgtk-3-dev

      - name: Setup Golang
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
          architecture: x64
          cache: true

      - name: Setup Task
        uses: arduino/setup-task@v2
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Cache Rust
        uses: Swatinem/rust-cache@v2
        with:
          workspaces: third_party/sdmmparser/src

      - if: contains(matrix.os, 'windows')
        name: Pre Build (Windows)
        run: task task_win:gen_syso

      - name: Build
        env:
          RUST_TARGET: ${{ matrix.rust-target }}
        run: task build

      - name: Upload Artifacts
        uses: actions/upload-artifact@v5
        with:
          name: ${{ runner.os }}
          path: dst/*
          if-no-files-found: error

  release:
    name: Release
    runs-on: ubuntu-latest
    needs: build
    if: startsWith(github.ref, 'refs/tags/v') # if tag starts with "v"
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6

      - name: Setup Task
        uses: arduino/setup-task@v2
        with:
          version: 3.x
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Download Release Files
        uses: actions/download-artifact@v6
        with:
          path: dst/

      - name: Prepare Release Files
        run: task release-files

      - name: Release
        uses: softprops/action-gh-release@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          draft: true
          prerelease: false
          files: |
            dst/bin/**
            dst/archive/**
